<h1>Home#landing_page</h1>
<p>Find me in app/views/home/landing_page.html.erb</p>
<h6>Voici l'app MVC THP-next Semaine 1<h6>


<section class = "container">
<div>
    connecte-toi en tant qu'admin
</div>
 <div>

    Consulte directement les discount

 </div>

</section>